<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="./assets/css/main.css"> -->
    <link href="./assets/css/output.css" rel="stylesheet">
</head>
<body>
    <header id="header">
        <nav>
            <div class="container h-20 min-w-full flex flex-row justify-around bg-dark">
                <div></div>
                <div class="text-center flex items-center">
                    <a href="/" class="text-3xl font-bold text-light">Message Board</a>
                </div>
                <div class="text-center flex items-center">
                    <a href="" id="user" class="text-3xl font-bold text-light">SIGN UP/LOGIN</a>
                </div>
            </div>
        </nav>
    </header>

    <main id="site-main">
    </main>

    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/auth.js"></script>
    <script>

        class MyLoaderManager extends LoaderManager{
            postLoad(){
                initHeader();
            }
        }
        const manager = new MyLoaderManager();

        manager.addLoader('check', {
            headers: {
                'Authorization':  getCookie('token')
            }
        });

        manager.init();

    </script>
</body>
</html>