<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Board</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="./assets/css/output.css" rel="stylesheet">
</head>
<body class="h-screen">
    <header id="header">
        <nav>
            <div class="min-w-full h-20 flex flex-row justify-around bg-dark">
                <div></div>
                <div class="text-center flex items-center">
                    <a href="./index.html" class="text-3xl font-bold text-light">Message Board</a>
                </div>
                <div class="text-center flex items-center" id="user">
                    <a href="login.html" class="text-3xl font-bold text-light">SIGN UP/LOGIN</a>
                </div>
            </div>
        </nav>
    </header>

    <main id="site-main" class="h-4/5 flex flex-col justify-center items-center">
        <article id="article" class="w-full max-w-7xl mx-auto break-inside p-6 rounded-xl bg-white flex flex-col bg-clip-border"></article>
    </main>

    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/auth.js"></script>
    <script src="./assets/js/message.js"></script>
    <script>

        const ID = getParameterByName('id');

        class MyLoaderManager extends LoaderManager{
            postLoad(){
                initHeader();
                loadMessage();
            }
        }
        const manager = new MyLoaderManager();

        manager.addLoader('check', {
            headers: {
                'Authorization':  getCookie('token')
            }
        });

        manager.addLoader(`messages?id=${ID}`);

        manager.init();

    </script>
</body>
</html>